.about_wrapper {
    display: flex;
    flex-direction: row;
}

.about_img {
    width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_img img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures image maintains aspect ratio */
    border-radius: 10px; /* Optional: rounded corners */
}

.about_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 10px;
    color: #1e1e1e;
}

.about_content p {
    font-size: 18px;
}

.Cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.Cards p {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #9d7e54;
    border-radius: 25px;
    font-size: 34px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    background-color: rgba(157, 126, 84, 0.05);
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.Cards p:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Flex container to align the CountUp and "+" symbol on the same line */
.countContainer {
    display: inline-flex; /* Use flexbox to keep them in a line */
    align-items: center; /* Align vertically */
    font-family: 'Poppins', sans-serif; /* Ensure same font */
}

.plusSymbol {
    font-size: 1.5rem; /* Adjust size to match the count-up font */
    margin-left: 0.25rem; /* Slight spacing between number and plus sign */
}

/* Styling for CountUp numbers */
.Cards p CountUp {
    font-size: 35px;
    display: block;
}

/* Styling for text under the CountUp (Awards, Visits, Events) */
.Cards p span {
    font-size: 15px;
    display: block;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1400px) {
    .Cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .about_content {
        padding: 0;
    }
    .about_img img {
        height: 80%;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .about_wrapper {
        flex-direction: column !important;
    }
    .about_img {
        width: 90%;
    }
    .about_img img {
        height: 100%;
        width: 100%;
    }
    .about_content {
        width: 100%;
    }
    .Cards {
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }
}

.section {
    padding: 90px 15%;
}

@media screen and (max-width: 768px) {
    .Cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
